<div class="container text-center">
  <h2 class="border-bottom border-primary mt-1">Exchange Rate</h2>
  <div class="text-secondary">App to fetch exchange rates for PLN</div>
  <div class="btn-group mt-2 mb-4" role="group" aria-label="Page selection">
    <button 
      type="button" 
      class="btn btn-outline-primary"
      routerLink="/fetch"
      routerLinkActive="active"
    >Currency fetch</button>
    <button type="button" class="btn btn-outline-primary">Requests history</button>
  </div>
  <router-outlet></router-outlet>
</div>